{%  include 'accounts/navbar.html' %}

<!DOCTYPE html>
<html>
<head>
	<title>Shopping Cart</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
	<link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
	<div class="card">
        <div class="row">
            <div class="col-md-8 cart">
                <div class="title">
                    <div class="row">
                        <div class="col">
                            <h4><b>Shopping Cart</b></h4>
                        </div>
                        <div class="col align-self-center text-right text-muted"></div>
                    </div>
                </div>
               {%for photo in image%}
                <div class="row border-top border-bottom" >
                    <div class="row main align-items-center" >
                        <div class="col-2"><img class="img-fluid" src="../../..{{photo.product.image.url}}"></div>
                        <div class="col">
                            <div class="row text-muted">{{photo.category}}</div>
                            <div class="row">{{photo.description}}</div>
                        </div>
                        <div class="col">&euro; {{photo.price}}<span class="close"><a href="{%url 'deletecart' photo.id%}">&#10005;</a></span></div>
                    </div>
                </div>
                {%endfor%}
            <div class="col-md-4 summary">
                <div>
                    <h5><b>Summary</b></h5>
                </div>
                <hr>
                <div class="row">
                    <div class="col" style="padding-left:0;"></div>
                    <div class="col text-right">&euro; </div>
                </div>
                <form>
                    <p>SHIPPING</p> <select>
                        <option class="text-muted">Standard-Delivery- &euro;5.00</option>
                    </select>
                    <p>GIVE CODE</p> <input id="code" placeholder="Enter your code">
                </form>
                <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                    <div class="col">TOTAL PRICE</div>
                    <div class="col text-right">&euro; </div>
                </div> <a href ="checkout.html"><button class="btn">CHECKOUT</button></a>
            </div>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
